* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #6e6b6e;
}

html,
body {
    height: auto;
    min-height: 100vh;
}

html {
    background: linear-gradient(180deg, #ea00ff 0%, #051cec 100%);
}

input:focus {
    outline: none;
}

#register-container {
    max-width: 900px;
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#register-banner {
    background: url("../img/bg-form.avif");
    background-size: cover;
    background-position: center;
    width: 50%;
}

#banner-layer {
    background-color: rgba(26, 3, 107, 0.7);
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}

#register-banner h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
    color: #fff;
    word-spacing: 50rem;
}

#register-form {
    background-color: #fff;
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#register-form h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.2rem;
}

#register-form p {
    text-align: center;
    margin-bottom: 4rem;
    color: #aaa;
    font-size: 0.8rem;
}

.form-control {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.form-control input {
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 0.6rem 0;
}

/* #open-generate */
#generete-password {
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

#generete-password:hover {
    color: #0099ff;
}

/* #regiter-form */

#register-form #generated-password {
    border: 1px solid #0099ff;
    border-radius: 4px;
    padding: 0.4rem;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: none;
}

#register-form #generated-password p {
    margin-bottom: 0.5rem;
    color: #81d340;
}

#register-form input[type="submit"] {
    background-color: #81d340;
    color: #fff;
    border-radius: 2rem;
    padding: 1.5rem 2.8rem;
    max-width: 150px;
    cursor: pointer;
    opacity: 0.8;
    border: none;
    align-self: flex-end;
    transition: 0.4s;
}


#register-form input[type="submit"]:hover {
    opacity: 1;
}
